<div class="container-fluid" id="partials-header">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="login col-md-6 text-right">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="field">
            <%= f.email_field :email, autofocus: true , placeholder: "Email" %>
          </div>
        </li>
        <li>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder:"Password" %>
          </div>
        </li>
        <li>
          <div class="actions btn waves-effect black">
            <%= f.submit "Log in" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
