<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <%@sessions_index = true%>
      <div class="row" style="height:320px;">
        <div class="col-md-8" id="current_user-info">
          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8 text-left">
              <h3>NAME</h3>
              <p>
                fields of work
              </p>
              <p>
                titles
              </p>
              <p>
                years of exp
              </p>
              <p>
                Schooling
              </p>
              <textarea name="name" rows="3" cols="40">Experience/Comments</textarea>
              <input type="button" name="name" value="Nice">
            </div>
          </div>
        </div>
        <div class="col-md-4" id="friend-search">
          <div class="row">
            <header class="text-left">

            </header>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
          </div>
          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
          </div>
        </div>
      </div>
      <div class="row" style="height:250px">
        <div class="col-md-8" id="current_user-options">
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
        </div>
        <div class="col-md-4" id="people-share">
          <div class="row">
            <header>
              People Share
            </header>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
          </div>
        </div>
      </div>
      <div class="row" id="friend-shouts">
        <header>
          Friend shouts
        </header>
        <div class="col-md-12">

        </div>
      </div>
      <div class="row" id="area-shouts">
        <header>
          Area Shouts
        </header>
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </body>
</html>
