<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@users_index = true%>
    <div class="container" id="users-third">
      <div class="row">
        <div class="col-md-12">
          <label>Terms of Conditions</label>
          <textarea name="name" rows="8" cols="40"></textarea>
          <input type="button" name="name" value="Submit">
        </div>
      </div>
    </div>
  </body>
</html>
