// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid{
  padding: 0;
}

#inner-container{
  margin-top: 2%;
  background-color: grey;
  padding: 5%;
  #sessions-img{
    background-color: lightgrey;
  }
  #sessions-form{
    height: 700px;
    background-color: lightgrey;
    padding-left: 1%;
    .field{
      input{
        height: 60px;
        width: 100%;
      }
    }
  }
  #greeting{
    background-color: lightgrey;
    margin-top: 4%;
    height: 850px;
  }
  #footer{
    height: 265px;
  }
}
