// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#current_user-info{
  border: .5px solid grey;
  height: 100%;
}
#friend-search{
  border: .5px solid black;
  height: 100%;
  header{
    background-color: darkgrey;
  }
}
#people-share{
  border: .5px solid black;
  height: 100%;
  header{
    background-color: darkgrey;
  }
}
#friend-shouts{
  border: .5px solid black;
  height: 300px;
  header{
    background-color: darkgrey;
  }
}
#area-shouts{
  border: .5px solid black;
  height: 300px;
  header{
    background-color: darkgrey;
  }
}
